
<main>
  <section class="sidebar-section">
    <app-sidebar [menuIcons]="icons"></app-sidebar>
  </section>

  <div class="title">
    <h2>Estudantes cadastrados</h2>
  </div>

  <div class="search">
    <app-back-button></app-back-button>
    <div class="input-wrapper">
      <input type="text" />
      <span class="icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.099zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>
    </div>
  </div>

  <section class="main-section">
      <div class="content-wrapper">
        <app-list
        tipo="estudante"
        [nomeDoEstudante]="'João Silva'"
        [matriculaDoEstudante]="'123456'"
        [apelidoTurmaEstudante]="'Turma A'"
        [rgCpfDoEstudante]="'123.456.789-00'"
        [cpfResponsavel]="'987.654.321-00'"
        ></app-list>

        <app-list
        tipo="estudante"
        [nomeDoEstudante]="'Maria Oliveira'"
        [matriculaDoEstudante]="'654321'"
        [apelidoTurmaEstudante]="'Turma B'"
        [rgCpfDoEstudante]="'987.654.321-11'"
        [cpfResponsavel]="'123.456.789-11'"
        ></app-list>

        <app-list
        tipo="estudante"
        [nomeDoEstudante]="'Carlos Pereira'"
        [matriculaDoEstudante]="'789123'"
        [apelidoTurmaEstudante]="'Turma C'"
        [rgCpfDoEstudante]="'456.789.123-22'"
        [cpfResponsavel]="'321.654.987-22'"
        ></app-list>

        <app-list
        tipo="estudante"
        [nomeDoEstudante]="'Ana Costa'"
        [matriculaDoEstudante]="'321789'"
        [apelidoTurmaEstudante]="'Turma D'"
        [rgCpfDoEstudante]="'321.789.456-33'"
        [cpfResponsavel]="'654.321.987-33'"
        ></app-list>
      </div>
  </section>
</main>
