<div class="main-container">
  <div class="left-section"></div>
  <div class="right-section">
    <h1>Seja bem-vindo!</h1>
    <p>Para acessar a plataforma, selecione o seu tipo de perfil.</p>
    <div class="button-group">
      <app-button label="Sou professor" (clickEvent)="navigateTo('login-professor')"></app-button>
      <app-button label="Sou responsável" (clickEvent)="navigateTo('login-responsavel')"></app-button>
      <app-button label="Sou administrador" customClass="admin-button" (clickEvent)="navigateTo('login-administrador')"></app-button>
    </div>
  </div>
</div>
