@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

simple-snack-bar {
  display: flex;
  flex-direction: column;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
      --mdc-snackbar-container-color: #DBD5E9; //background snackbar
      --mdc-snackbar-supporting-text-color: #000; //color text snackbar

      .mdc-button__label {
          margin-left: 0.6rem;
          color: #65558F;
      }
  }

  &.sucess-snackbar {
      .mdc-button__label {
          margin-left: 0.6rem;
          color: #65558F;
      }
  }

}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .left-section {
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .right-section {
    flex: 1;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
    padding: 0 2%;
    position: relative;

    .logo-civitas {
      width: 100%;
      height: 102px;
      background-image: url('../assets/logo_completo_horizontal_civitas.webp');
      margin: 15px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .back-button {
      position: absolute;
      top: 30px;
      left: 30px;
    }

    h1 {
      font-size: 2.8rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      max-width: 20rem;
      text-align: left;
      font-size: .9rem;
      margin-bottom: 30px;
    }

    .button-group {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}

@media (max-width: 768px) {
  .left-section {
    display: none;
  }
}
