@import '../../../../styles/variables.scss';

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .back-button {
    position: absolute;
    top: 5%;
    left: 25%;
  }
}

.form-header {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;

  .header-content {
    display: inline-block;
    text-align: left;
  }

  strong {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }

  .form-subtitle {
    color: #666;
    margin-bottom: 20px;
  }
}

.form-card,
.text-teacher {
  background: #f3f3f3;
  border-radius: 30px;
  padding: 35px;
  margin-bottom: 20px;
}

h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.description {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
}

.options-wrapper {
  display: flex;
  background: #e9e9e9;
  flex-direction: column;
  border-radius: 30px;
  gap: 10px;
}

.option {
  padding: 10px 20px;
  margin: 5px 0 10px 5px;
  border-radius: 30px;
  transition: background 0.2s;
}

.option:hover {
  background: #e1e1e1;
}

.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-input {
  margin: 0 30px 0 15px;
}

.option-text {
  font-size: 14px;
}

.text-teacher {
  margin-top: 20px;
}

.text-teacher label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.text-teacher textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border: none;
  background: #e9e9e9;
  border-radius: 30px;
  resize: vertical;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: $button-register-color;
  color: #fff;
  width: 40%;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: background 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: $button-register-hover;
}

.header-teacher {
  margin-bottom: 20px;
  text-align: center;

  strong {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }
}