<div class="form-container">
  <app-back-button (click)="goBack()" class="back-button"></app-back-button>
  <div class="form-header">
    <div class="header-content">
      <strong>Registre um novo PDI</strong>
      <p class="form-subtitle">Preencha as informações da avaliação do estudante</p>
    </div>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-card" *ngFor="let question of questions">
      <h3>{{ question.title }}</h3>
      <p class="description">{{ question.description }}</p>
      
      <div class="options-wrapper">
        <div class="option" *ngFor="let option of options">
          <label [for]="question.id + '-' + option.value" class="option-label">
            <input 
              type="radio" 
              [id]="question.id + '-' + option.value"
              [formControlName]="question.id"
              [value]="option.value"
              class="option-input">
            <span class="option-text">{{ option.text }}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="text-teacher">
      <div class="header-teacher">
        <strong>Observações do professor</strong>
      </div>
      <textarea 
        id="text-id"
        formControlName="textTeacher"
        required></textarea>
    </div>

    <button 
      type="submit" 
      [disabled]="form.invalid || form.get('textTeacher')?.value?.trim().length === 0">
      Salvar
    </button>
  </form>
</div>  