<div class="container">
    <app-back-button (click)="goBack()" class="back-button"></app-back-button>
    <div class="card">
        <div class="text-card">
            <p><strong>Cadastro de estudante</strong></p>
            <p>Preencha as informações do estudante</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-card">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Nome completo</mat-label>
                    <input matInput formControlName="nome" placeholder="Nome completo do estudante" maxlength="50">
                </mat-form-field>
            </div>
            <div class="form-card">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>RG ou CPF do estudante</mat-label>
                    <input matInput formControlName="cpfOrRg" placeholder="xx.xxx.xxx-xx" maxlength="14">
                    <mat-error *ngIf="form.get('cpfOrRg')?.hasError('invalidCpfOrRg')">
                        Insira um CPF ou RG válido.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-card">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Número de matrícula</mat-label>
                    <input matInput formControlName="matricula" placeholder="Registro do estudante na escola"
                        maxlength="20">
                </mat-form-field>
            </div>
            <!-- <div class="form-card">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Turmas</mat-label>
                    <mat-select formControlName="turma" placeholder="6 série B">
                        <mat-option *ngFor="let option of turma" [value]="option.value">
                            {{option.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="form-card">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>CPF do responsável</mat-label>
                    <input matInput formControlName="cpfResponsavel" placeholder="xxx.xxx.xxx-xx" maxlength="14">
                    <mat-error *ngIf="form.get('cpfResponsavel')?.hasError('pattern')">
                        CPF inválido. Verifique as informações digitadas.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="btn-wrapper">
                <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
