main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar title"
    "sidebar search"
    "sidebar content";
  grid-template-columns: 172px auto;
  grid-template-rows: 150px 100px auto;

  margin-right: 10%;

  app-list .card {
    border-top: 0 !important;
  }

  app-list:first-of-type .card {
    border-top: 1px solid #cac4d0 !important;
  }
}

.sidebar-section {
  grid-area: sidebar;
}

.title {
  grid-area: title;
  display: flex;
  align-items: flex-end;


  h2 {
    font-size: 55px;
    font-weight: normal;
    padding: 0 0 25px 50px;
    color: #5E17EB;
  }
}

.search {
  padding-left: 30px;
  grid-area: search;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .input-wrapper {
    position: relative;
    width: 35%;
    min-width: 150px;

    input {
      outline: 0;
      width: 100%;
      padding: 10px 40px 10px 15px;
      border: 1px solid #5E17EB;
      border-radius: 25px;
      font-size: 1rem;
    }

    .icon-search {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      pointer-events: none; // Previne interação com o ícone
    }
  }
}

.main-section {
  grid-area: content;
  overflow-y: auto;
}
